extends layout

block content
    p Please fill the form below if you are a new user
    block content
        if errors
            ul
                for error in errors
                    li= error.msg
        -data = data || {}
        .main.container
            .row
                .col-md-6.col-md-offset-3
                    h1 Register
                    form(method='POST' action='/register')
                        div.form-group
                            form-control(type='text' id='title' value=data.title required)
                            select.custom-select(name='title' )
                                each val in ['-' , 'Dr.' , 'Prof.']
                                    option=val
                        div.form-group
                            label(for='firstName') Vorname
                            input.form-control(type='text' id='firstName' placeholder='Vorname' name='firstName' value=data.firstName required)
                        div.form-group
                            label(for='lastName') Nachname
                            input.form-control(type='text' id='lastName' placeholder='Nachname' name='lastName' value=data.lastName required)
                        div.form-group
                            label(for='email') Email
                            input.form-control(type='email' id='email' placeholder='E-Mail' name='email' value=data.email required)
                        div.form-group
                            label(for='password') Password
                            input.form-control(type='password' id='password' placeholder='Password' name='password' value=data.password required title="Mindestlänge 5 Zeichen", pattern=".{5,30}")
                        button.btn.btn-outline-info(type='submit') Register
